@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://css.gg/trash.css');
@import url('https://css.gg/sun.css');
@import url('https://css.gg/moon.css');


.calculator {
  border: none;
   border-radius: 24px;
  padding: 5px;
  width: 273px;
  height: 458px;
  position: relative;
border-radius: 24px;

}

.formulaScreen {
  position: absolute;
  margin-top: 60px;
  height: 10px;
  font-size: 20px;
  line-height: 30px;
  right: 48px;
  top: 20px;
  font-family: 'Rubik';
  color: grey;
}

.outputScreen {
  padding-right: 10px;
  padding: 20px 20px 0px 20px;
  font-size: 40px;
  font-family: 'Rubik';
  text-align: right;
  line-height: 35px;
  height: 90px;
  border-radius: 24px 24px 10px 10px;
  margin: 20px 20px 20px 20px;
}

button {
  position: relative;
  justify-content: center;
  height: 45px;
  width: 45px;
  margin: 8px 10px;
  border: none;
  font-family: 'Rubik';
  font-size: 24px;
  cursor: pointer;
  border-radius: 100%;
  top: -10px;
}

button:active {
  transform: scale(0.8);
}

.author {
  text-align: center;
  font-family: 'Rubik';
  margin-top: 15px;
  a {
    text-decoration: none;
    color: white;
    line-height: 26px;
  }
}

#multiply, #divide, #subtract, #add {
      color: #2D98DA;
}

#zero {
  color: #F7B731;
}

#equals {
  color: #20BF6B;
}

#clear {
  color: #ff4d67;
}

.gg-trash {
  left: 11px;
}








.togglecheckbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggleslot {
  width: 45px;
  height: 25px;
  top: 50px;
  border-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 9px;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate(-50%, 0%);
  cursor: pointer;
}

.togglebutton {
  transform: translate(-0.4em, 0em);
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.togglecheckbox:checked ~ .toggleslot .togglebutton {
  transform: translate(1.7em, 0em);
}

.gg-sun {
  position: absolute;
  right: 10px;
  bottom: 3px;
  color: #ffbb52;
}

.suniconwrapper {
  position: absolute;
  height: 30px;
  width: 30px;
  opacity: 0;
  transform: translate(0em, 0em) rotate(0deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.togglecheckbox:checked ~ .toggleslot .suniconwrapper {
  opacity: 1;
  transform: translate(0em, 0em) rotate(0deg);
}

.gg-moon {
  position: absolute;
  color: #ffbb52;
  left: 30px;
  top: 4px;
}

.mooniconwrapper {
  position: absolute;
  height: 30px;
  width: 30px;
  opacity: 1;
  transform: translate(0em, 0em) rotate(0deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.togglecheckbox:checked ~ .toggleslot .mooniconwrapper {
  opacity: 0;
  transform: translate(0.3em, 0.1em);
}
